<template>
    <div>
        
        <b-row class="text-center">
            <b-col cols="2"></b-col>
        <b-col cols="10">
        <Menu/>
        <h3>Creación de pedidos</h3>
        <formato/>
        <categoria/>
        <modalidad/>
        <nombreproyecto/>
        <proposito/>
        <extension/>
        <paises/>
        <idioma/>
        <optimizacion/>
        <palabraclave/>
        <palabrasecundaria/>
        <descripcion/>
        <adjunta/>
        <grabar/>
        <publico/>
        <perspectiva/>
        <fechaentrega/>
        </b-col>
        
        </b-row>
    </div>
</template>
<script>
import Menu from "../components/Menu.vue";
import Formato from "../components/Formato.vue";
import Categoria from "../components/Categoria.vue";
import Modalidad from "../components/Modalidad.vue";
import Nombreproyecto from "../components/Nombreproyecto.vue";
import Proposito from "../components/Proposito.vue";
import Extension from "../components/Extension.vue";
import Paises from "../components/Paises.vue";
import Idioma from "../components/Idioma.vue";
import Optimizacion from "../components/Optimizacion.vue";
import Palabraclave from "../components/Palabraclave.vue";
import Palabrasecundaria from "../components/Palabrasecundaria.vue";
import Descripcion from "../components/Descripcion.vue";
import Adjunta from "../components/Adjunta.vue";
import Grabar from "../components/Grabar.vue";
import Publico from "../components/Publico.vue";
import Perspectiva from "../components/Perspectiva.vue";
import Fechaentrega from "../components/Fechaentrega.vue";

export default {
  name: "PedidosPage",
  components: { 
    Menu,
    Formato,
    Categoria, 
    Modalidad,
    Nombreproyecto,
    Proposito,
    Extension,
    Paises,
    Idioma,
    Optimizacion,
    Palabraclave,
    Palabrasecundaria,
    Descripcion,
    Adjunta,
    Grabar,
    Publico,
    Perspectiva,
    Fechaentrega
    }
};
</script>