<template>
  <div>
   
    <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow visible no-close-on-route-change z-index="1">
      <template>
        <div class="p-3">
          <b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
          <nav class="mb-3">
            <b-nav vertical>
              <router-link to="/">Tu Panel</router-link> 
              <router-link to="/notificaciones">Notificaciones</router-link> 
              <router-link to="/pedidos">Pedidos</router-link> 
              <router-link to="/cuenta">Cuenta</router-link>
              <router-link to="/calculadora">Calculadora</router-link>
              <router-link to="/creditos">Créditos</router-link>
              <router-link to="/analisis">Análisis SEO</router-link>
            </b-nav>
          </nav>
          
        </div>
        
      </template>
    </b-sidebar>
    
  </div>
</template>
<script>
  export default {
    data() {
      return {
        mainProps: { blank: true, blankColor: '#777', width: 75, height: 75, class: 'm1' }
      }
    }
  }
</script>