<template>
  <div>
     <b-navbar type="light" variant="light" fixed bottom >
       
    <b-nav-form>
     <b-container> 
     <b-row class="text-center">
        <b-col cols="2"></b-col>
        <b-col cols="4">
         <h4>Proceso de creación de proyecto:</h4>
         <h4>Valoración de proyecto:{{ credito }}</h4>
        </b-col>
        <b-col cols="4">
           <b-progress :value="value" :max="max" class="mb-3"></b-progress>
        </b-col>
         <b-col cols="2">
           <b-button variant="danger">Crear Pedido</b-button>
        </b-col>

      </b-row> 
      </b-container>
    </b-nav-form>
     
  </b-navbar>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        credito: ''
      }
    }
  }
</script>
<style>
.navbar-expand {
  z-index: 9;
  position: sticky;
  /* bottom: 0; */
  height: 93%;
}

</style>