<template>
  <div>
    <h4>Extensión máxima de palabras</h4>
    <b-form-select v-model="selected" :options="options"></b-form-select>
    <!-- <b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select> -->
    <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selected: null,
        options: [
          { value: 'a', text: '100 a 249' },
          { value: 'b', text: '250 a 499' },
          { value: 'd', text: '500 a 749' }
        ]
      }
    }
  }
</script>