<template>
  <div>
    <h4>Fecha de entrega</h4>
     <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
    <div class="mt-2">Value: {{ text }}</div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        text: ''
      }
    }
  }
</script>