<template>
  <div>
    <h4>Formato</h4>
    <b-form-select v-model="selected" :options="options"></b-form-select>
    <!-- <div class="mt-3">Selected: <strong>{{ selected }}</strong></div> -->
    <b-form-select v-model="selected" :options="options.opciones"></b-form-select>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selected: null,
        options: [
          { 
            value: 'a',
            text: 'Texto',
            opciones: [
              { value: 'a', text: 'Texto especializado'},
              { value: 'b', text: 'Texto personalizado'}
            ]
          },
          { 
            value: 'b',
            text: 'Multimedia',
            opciones: [
              { value: 'a', text: 'Imagen'},
              { value: 'b', text: 'Video'}
            ]
          }          
          
        ],
        options2: [
          { value: 'a', text: 'Texto' },
          { value: 'b', text: 'Imagen' },
          { value: 'c', text: 'Video' },
          
        ]
      }
    }
  }
</script>