<template>
  <div>
    <h4>Idioma de tu pedido</h4>
    <b-form-select v-model="selected" :options="options"></b-form-select>
    <!-- <b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select> -->
    <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selected: null,
        options: [
          { value: 'a', text: 'Español' },
          { value: 'b', text: 'Inglés' },
          { value: 'd', text: 'Chino' }
        ]
      }
    }
  }
</script>