<template>
  <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
      <b-collapse id="nav-collapse" is-nav>
     

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <h4>Crédito disponible:{{ credito }}</h4>
        </b-nav-form>

       

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
             <b-avatar variant="info" src="https://placekitten.com/300/300"></b-avatar>
          <h5>Nombre usuario</h5>
          <h5>Cliente</h5>
          </template>
          
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>
<script>
  export default {
    data() {
      return {
        credito: ''
      }
    }
  }
</script>
