<template>
  <div>
    <h4>Modalidad deseada para tu pedido</h4>
    
    <b-form-group  v-slot="{ ariaDescribedby }">
      <b-card>
        <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="Concurso">Concurso</b-form-radio>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ut quam nesciunt, quia laborum rerum, minima delectus architecto sapiente asperiores corporis placeat iste deleniti voluptatum nemo. Aliquid consequuntur repellat amet.</p>
      </b-card>
      <b-card>
       <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="Proveedor favorito">Proveedor favorito</b-form-radio> 
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe delectus repudiandae dolor recusandae doloremque suscipit quisquam dolorum libero culpa explicabo dolorem, nesciunt, minus odit aliquid sint necessitatibus molestias cumque assumenda.</p>
      </b-card>
      
    </b-form-group>

    <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selected: ''
      }
    }
  }
</script>