<template>
  <div>
    <h4>Nombre de tu proyecto</h4>
    <b-form-input v-model="text" placeholder="Prueba"></b-form-input>
    <div class="mt-2">Value: {{ text }}</div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        text: ''
      }
    }
  }
</script>