<template>
  <div>
    <label for="tags-pills">Paises a los que está dirigido</label>
    <b-form-tags
      input-id="tags-pills"
      v-model="value"
      tag-variant="primary"
      tag-pills
      size="lg"
      separator=" "
      placeholder="Enter new tags separated by space"
    ></b-form-tags>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quo iste minima animi inventore molestias recusandae beatae illum, et optio ullam, amet accusamus at eaque fugiat facere blanditiis sed ipsa!</p>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        value: ['Colombia', 'Ecuador']
      }
    }
  }
</script>