<template>
  <div>
    <h4>Palabra semántica(s) o secundaria(s)</h4>
    <b-form-input v-model="text" placeholder="Enter your name"></b-form-input>
    <div class="mt-2">Value: {{ text }}</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta, tempore error explicabo temporibus nemo quae animi, ducimus, odit facere sit molestias! Accusantium temporibus quas repellat mollitia eos. Nobis, quas!</p>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        text: ''
      }
    }
  }
</script>