<template>
  <div>
    <b-form-group label="Perspectiva del texto" v-slot="{ ariaDescribedby }">
      <b-form-radio
        v-model="selected"
        :aria-describedby="ariaDescribedby"
        name="some-radios"
        value="A"
        >Primera persona del singular (yo, mí, mi)</b-form-radio
      >
      <b-form-radio
        v-model="selected"
        :aria-describedby="ariaDescribedby"
        name="some-radios"
        value="B"
        >Primera persona del plural (nosotros, nuestro(s), nuestra(s))
      </b-form-radio>
      <b-form-radio
        v-model="selected"
        :aria-describedby="ariaDescribedby"
        name="some-radios"
        value="B"
        >Segunda persona, formal o informal
      </b-form-radio>
      <b-form-radio
        v-model="selected"
        :aria-describedby="ariaDescribedby"
        name="some-radios"
        value="B"
        >Tercera persona (ellos, ellas, su(s))
      </b-form-radio>
    </b-form-group>

    <div class="mt-3">
      Selected: <strong>{{ selected }}</strong>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected: "",
    };
  },
};
</script>