<template>
  <div id="app">

    <div id="barra">
      <barraLateral/>
    </div>
    <router-view/>
    <div id="footer" >
     <crearpedido/> 
    </div>
    
       
    

  </div>
</template>


<script>
import BarraLateral from './components/BarraLateral.vue'
import Crearpedido from './components/Crearpedido.vue'

export default {
  name: 'App',
  components: {
    BarraLateral,
    Crearpedido
  }
}
</script>


<style lang="scss">
@import "~@/assets/scss/vendors/bootstrap-vue/index";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
